<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold ">Your profile</h1>


  
  <% if @user.first_name.present? %>
    <div class="mt-5">
      <%= @user.first_name%>
  </div>
  <% end %>

  <% if @user.last_name.present? %>
    <div class="mt-5">
      <%= @user.last_name%>
  </div>
  <% end %>

  <% if @user.headline.present? %>
    <div class="mt-5">
      <%= @user.headline%>
  </div>
  <% end %>

  <% if @user.language.present? %>
    <div class="mt-5">
      <%= @user.language%>
  </div>
  <% end %>

  <div class="mt-5">  
    <% if @user.website.present? %>
      <%= link_to @user.website, (@user.website.start_with?("http") ? @user.website : "https://#{@user.website}"), target: "_blank", rel: "noopener noreferrer" %>
    <% end %>
    
  </div>

  <div class="mt-5">
    <%= link_to 'Edit Profile', edit_profile_path, class:"px-3 py-2 text-white bg-blue-500 hover:bg-blue-300" %>
  </div>

</div>