<div>
  <h1>Your profile</h1>

  <%= @user.first_name%>

  <%= @user.last_name%>

  <%= @user.headline%>

  <%= @user.website%>

  <div>
    <%= link_to 'Edit Profile', edit_profile_path %>
  </div>

</div>