<div class="p-8 max-w-md mx-auto">
  
  <% if @video.video_file.attached? %>
    <% if user_signed_in? && current_user.enrollments.exists?(video: @video) %> 
      <video id="player" playsinline controls data-controller="video-player" class="w-full" >
        <source src="<%=url_for(@video.video_file)%>" type="<%= @video.video_file.content_type %>">
      </video>
    <% else %>
      <%= image_tag @video.thumbnail, class:"w-full" %>
    <% end %>
  <% end %>
  
  <h3 class="mt-2"><%= @video.title %></h3>

  <p class="mt-5"><%= @video.author %> </p>

  <p class="mt-5"><%= @video.description %> </p>

  
  <% if current_user.enrollments.exists?(video: @video) %>
    <% enrollment = current_user.enrollments.find_by(video: @video) %>
    <div class="mt-5">
      <p>Watched <%= ((enrollment.progress || 0) * 100).round(1) %> </p>
    </div>
    
  <% end %>
  

  
  <% if user_signed_in? %>
    <% if current_user.enrollments.where(video: @video).exists? %>
      <p class="mt-5 text-xl ">Already enrolled</p>
    <% else %>
      <%= button_to 'Enroll Now', video_enrollment_path(@video), class:"mt-5 py-2 px-2 rounded-lg bg-blue-500 text-white" %>
    <% end %>
  <% else %> 
    <%= button_to 'Enroll Now', new_user_session_path, class:"mt-5 py-2 px-2 rounded-lg bg-blue-500 text-white" %>

  <% end %>
</div>
