<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "E Learning" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-gray-100">

  <div class="flex flex-row py-8 px-8 justify-between items-center">

    <div class="flex">
      <%= link_to 'Home', videos_path %>
    </div>

    <!-- Search -->
    <div data-controller="autocomplete" class=" md:flex items-center text-center">
      <%= form_with url: videos_path, method: :get, data: {autocomplete_target: "form"}, class:"flex gap-2" do %>
        <div class="relative">
          <%= text_field_tag :search, 
            params[:search], placeholder: "Search for anything", 
            data: {
              action: "input->autocomplete#search",
              autocomplete_target: "input"
            },
            class:"border border-gray-400 rounded-full py-2 px-3 text-center" 
          %>
          <ul class="absolute w-full bg-white mt-1" data-autocomplete-target="results" data-action="click->autocomplete#selectResult"></ul>
        </div>
      <% end %>
    </div>

    <div data-controller="menu" class="">

      <!--  Menu Icon for Small Screens -->
      <button data-action="click->menu#toggle" class="text-2xl md:hidden">
        ☰
      </button>

      <!--  Navbar Links -->
      <div data-menu-target="menu" class="hidden md:flex flex-col md:flex-row gap-5 absolute md:static top-16 left-0 w-full md:w-auto bg-gray-100 md:bg-transparent p-5 md:p-0 shadow md:shadow-none">
        <div class="flex flex-col md:flex-row items-center gap-5">
          <% if user_signed_in? %>
            <%= link_to 'My Learning', my_learning_path, class: "block md:inline" %>
            <%= link_to current_user.first_name, edit_profile_path, class: "block md:inline" %>
            <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete, confirm: "U wanna sign Out!"}, class: "block md:inline" %>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: "block md:inline" %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

  <%= yield %>

  <%= javascript_importmap_tags %>

</body>

</html>
